/singoutstrong/jdksmidi/object_script.jdksmidi.Debug
/singoutstrong/jdksmidi/object_script.jdksmidi.Release
/singoutstrong/singoutstrong.pro.user
/singoutstrong/singoutstrong/object_script.singoutstrong.Debug
/singoutstrong/singoutstrong/object_script.singoutstrong.Release
/singoutstrong/singoutstrong/ui_audioinsettings.h
/singoutstrong/singoutstrong/ui_generalsettings.h
/singoutstrong/singoutstrong/ui_mainwindow.h
/singoutstrong/singoutstrong/ui_outputsettings.h
/singoutstrong/singoutstrong/ui_playlist.h
/singoutstrong/singoutstrong/ui_songwindow.h
/singoutstrong/singoutstrong/ui_tutorialwindow.h
/singoutstrong/singoutstrong/ui_windowbar.h
/singoutstrong/soscore/object_script.soscore.Debug
/singoutstrong/soscore/object_script.soscore.Release
/singoutstrong/Makefile
/singoutstrong/*/debug/*.*
/singoutstrong/*/release/*.*
/singoutstrong/*/Makefile
/singoutstrong/*/Makefile.*